<div class="alert-container">
    @if (TempData.ContainsKey(RazorAlerts.AlertExtensions.AlertKey) && TempData[RazorAlerts.AlertExtensions.AlertKey] is List<string> alertList && alertList.Any())
    {
        @foreach (var alert in alertList.ToArray())
        {
            var obj = Newtonsoft.Json.JsonConvert.DeserializeObject<RazorAlerts.Alert>(alert);
            alertList.Remove(alert);
            await Html.RenderPartialAsync("_Alert", obj);
        }
    }
</div>