@using RazorAlerts

<div class="alert-container">
    @if (TempData.TryGetAlertList(out var alertList) && alertList.Any())
    {
        @foreach (var alert in alertList.Where(a => !a.Shown))
        {
            alert.Shown = true;
            await Html.RenderPartialAsync("_Alert", alert);
        }
        TempData.SaveAlertList(alertList);
    }
</div>